#qna {display: none;}

.status {width: 80%;height: 20px;background: #fff;border-radius: 10px;margin: 50px auto;}
.status .statusBar {height: 100%;background: #f00;border-radius: 10px;}

.qBox {font-size: 30px;margin-bottom: 20px;}

button {display: block;background: #fff;border: none;text-align: left;padding: 10px 30px;border-radius: 30px;margin-bottom: 10px;}


















